.img{
    height: 160px;
    width: 220px;
}

.cd{
    
    margin-left: 50px;

}

.button{
    border-radius: 20px;
    border-color: none;
    width: 40px;
    height: 40px;
    color: white;
}
